@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.midnight');
  color: theme('colors.white');
  font-family: theme('fontFamily.manrope');
  overflow-x: hidden;
  /* background-color: #0fcac7; */
}
