@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.midnight');
  color: theme('colors.white');
  font-family: theme('fontFamily.manrope');
}

.container {
  width: 100%;
  max-width: 70rem;
  margin: auto;
}
